#nav-container {
    max-width: 100%;
    margin:0;
    padding:0;
}

.row {
    width:100%;
    margin:0;
}

#mynavbar {
    background-color: seagreen;
    width:100%;
    color:#343a40;
    text-align: left;
    padding-right: 20px;
    border-bottom: 0.5px black solid;
    position:fixed;
    z-index: 1;
    height:170px;
}

.nav-text {
    color:darkseagreen;
    font-size: 22pt;
    padding-left: 20px;
    text-transform: uppercase;
}

a:hover {
    color:mintcream;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}

#profile-link {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 8px solid mediumseagreen;
    margin: 10px 20px 10px 20px;
}

#profile-link:hover {
    border-color: darkseagreen;
}

.content {
    background-color: white;
    padding-left:50px;
}

h3.headers {
    color:darkseagreen;
    margin:0;
}

ul {
    column-count:3;
    column-width: 30px;
    column-gap: 20px;
}

.school {
    color: darkseagreen;
}

.list-titles {
    font-weight: bold;
    margin-bottom:0;
    color:darkseagreen;
}

.boxes {
    margin-top: 28%;
}