#nav-container {
    max-width: 100%;
    margin:0;
    padding:0;
}

.row {
    width:100%;
    margin:0;
}

#mynavbar {
    background-color: seagreen;
    width:100%;
    color:#343a40;
    text-align: left;
    padding-right: 20px;
    border-bottom: 4px solid mediumseagreen;
    position:fixed;
    z-index: 1;
    height:174px;
}

.nav-text {
    color:darkseagreen;
    font-size: 20pt;
    padding-left: 20px;
    text-transform: uppercase;
}

a:hover {
    color:mintcream;
    text-decoration: none;
}

a:active{
    text-decoration: underline;
}

#profile-link {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 8px solid mediumseagreen;
    margin: 10px 20px 10px 20px;
}

#profile-link:hover {
    border-color: darkseagreen;
}

.content {
    background-color: white;
    padding-left:50px;
}

.boxes {
    padding-bottom: 30px;
}

.headers {
    color:darkseagreen;
}

ul {
    column-count:3;
}

.subheader {
    color: darkseagreen;
    padding-top:10px;
}

.list-titles {
    font-weight: bold;
    margin-bottom:0;
    color:darkseagreen;
}

#nav-select {
    visibility: hidden;
}

.spacer {
    display: block;
    height: 180px;
    margin-top:-180px;
    visibility: hidden;
}

#About {
    margin-top: 0;
}


#fill {
    height: 80%;
}

p {
    margin:0;
}